.link {
    text-decoration: none;
    color: #16a085;
    font-size: 18pt;
    padding: 10px;
    float: left;
    font-weight: bold;
    margin-left: 12%; 
    margin-right: 3%; 
	
}

.main-content{
    background-color: #f5f6f7;
    height: 550px
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.Rappresent-your{
    text-align: center;
    font-size: 22pt;
}
.text{
  text-align: center; 
  font-size: 16pt; 
    margin-left: 90px;
    margin-right: 90px;

}
.btn{
  
    padding: 15px;
    letter-spacing: 5px;
 background-color: #16a085;
   
     float: left;
     margin-left: 40%;
     margin-top: 20px;
     color: white;
}
.info{
float: right;
    
}